
.contentContainer{
    width: 80%;
    /* height: calc(100vh - 523px); */
    padding-top: 50px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: darkgrey;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#noticeTitle{
    font-size: 2.5rem;
}

.noticeContent{
    height: 200px;
}

.noticeContent div{
    font-size: 1.3rem;
}

.writeDate{
    margin-top: 10px;
}

.buttonContainer{
    width : 50%;
    margin-left: 25%;
    display: flex;
    justify-content: flex-end;
}

.buttonContainer div:nth-child(1){
    margin-right: 10px;
}

.delete{
    cursor: pointer;
}